* {
	font-family: Helvetica, sans-serif;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
}

header {
	height: 9vh;
	margin: 0;
	padding: 5px;
	background-color: #272a2e;
	box-shadow: 0 4px 4px rgba(0, 0, 0, .1), 0 6px 12px rgba(0, 0, 0, .08);
}

header p {
	margin: 0;
	padding: 15px 0px;
	font-weight: bolder;
	color: white;
	font-size: 1em;
	text-align: center;
}

.login {
	flex: 1;
	padding: 40px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login_box {
	min-height: 50vh;
	margin: 10px 0px;
	width: 60vw;
	max-width: 400px;
	border-top: 2px solid black;
	color: white;
	padding: 5px 15px 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.login_form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
}

.input {
	height: 10vh;
	margin-bottom: 2px;
	padding: 0 15px;
	background-color: transparent;
	border: 1px solid white;
	border-bottom: black 2px solid;
	font-size: 1.2rem;
	color: slategray;
	font-weight: bold;
	outline: none;
}

.submit {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.login_form button {
	margin: 10px 0;
	padding: 0px 5px;
	height: 45px;
	background-color: #0d6efd; border-color : #0d6efd;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 1.5px;
	color: white;
	outline: none;
	cursor: pointer;
	border-color: #0d6efd;
}

.login_container {
	text-align: center;
	margin-top: 50px;
}

.login_container>p {
	font-size: 1em;
}

.login_container>a {
	text-decoration: none;
	font-size: bold;
}

.login_container .visitor {
	
}

.new_user {
	color: black;
	text-align: center;
}

.footer {
	flex: 0;
	margin: 0;
	padding: 0;
	min-height: 8vh;
	background-color: #212529;
}